{% extends "base.html" %}
{% block title %}2018年春季学期分析图表{% endblock %}
{% block breadcrumb %}
    <li class="noprint"><a class="noprint" href="{% url "index" %}"> 首页</a></li>
{% endblock %}
{% block content %}
    {% for jsfile_name in map_script_list %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}
    <div class="row-fluid">
    <div class="span12">
    </div>
    <div class="span12">
        <div class="span4 pull-right noprint">{{ map_myecharts|safe}}</div>

    <div class="span8">
    <span class="header"><h3 class="text-center">前言</h3></span>
    <span class="content">
        <p>广西禾乐生态农业开发有限公司（简称“禾乐公司”）作为平南县校园食材采购配送服务平台的运营主体，一直以来以做好平南中小学生的食品安全管理和饮食健康管理为己任。</p>
<p>去年以来，禾乐公司在县委县政府、教育局及食药监局等相关部门的指导下，以国家食品安全相关法律法规为准绳，借鉴日本、欧美等先进国家的集中供餐配餐经验，逐步完善了公司的食品安全管理标准体系和信息技术平台。公司食品安全管理体系的完善将极大的保障“平南学生食品安全”，让公司更好的担当平南校园食品安全的“阀门”。</p>
<p>自去年服务平南校园开始，公司利用积累的大量的中小学生饮食数据，持续对平南中小学生的饮食结构及营养健康状况进行监测。本报告提供了2018年春季学期禾乐公司服务所有中小学校的学生饮食结构情况（包括按金额统计的学生每日人均消耗食材情况，及按摄入量统计的学生每日消耗食材情况）。本报告依据由国家卫生计划委员会于2017年发布的《学生餐营养指南》对中小学生每日食物摄入情况提供了对比分析图。</p>
        <p>本报告统计所使用的方法和相关数据说明</p>
        <ul>
            人均日餐标是指以学校在公司采购额为基础按人次计算的人均数。计算公式为：
            <li>人均日餐标=( 统计区间内学校采购总额)⁄(学校下单日期数∗学校人数)</li>
            <li>其中统计区间为：2018年3月1日-2018年6月30日</li>
            <li>学校下单日期数是按国家工作日（除节假日）计算，（每周取4.5天），合计74天。</li>
            <li>学校人数为公司前期摸底调查获得的学校学生总人数。</li>
            <li>数据来源：系统销售出库明细是本次统计的基础数据，食品结构摄入标准取自卫生计划委发布的《学生餐营养指南》，使用的是学生一日三餐的食物摄入标准 。</li>
        </ul>
        <p>经过统计和分析，我们发现：目前，平南县各学校食材采购由学校后勤负责安排，各学校采购的食材总费用和结构差异较大（学生人均日食材消耗5-14元不等，各类食材结构差异迥异。平南学生食物摄入总量及结构不合理，学生健康成长引人忧虑。平南中小学生平均食物摄入总量仅为标准平均值的70%（实际997g/人.日，标准1425g/人.日）。结构上，富含青少年成长所需营养素的蔬菜、水果、大豆制品、蛋、奶等食物摄入量严重偏低；谷薯类及畜禽都能量型食物摄入勉强足够；在畜禽鱼肉中，营养含量较高的鱼虾类普遍性缺乏。</p>
    </span>
         <p>截至2018年春季学期结束，禾乐公司服务的学校分布情况如下：
    {% for town in town_list %}
        {% if town.id == 24  %}
            全县共计57所学校(校区）。<a class="noprint" href="{% url "all_school" %}">【点击查看全部】</a>。
        {% else %}
        {{ town.name }}({{ town.schools }}所)<a class="noprint" href="{% url "get_school" town.id %}">【详情】</a>，
        {% endif %}
    {% endfor%}
    </p>
    </ul>
    </div>
    </div>
    </div>
{% endblock %}
